<ion-header class="bg-theme title">
    <ion-navbar >
        <ion-title >Mis Reservas
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="bg-light" class="hideLongText">


    <div class="iconHelp">
        <ion-icon (click)="help()" name="arrow-dropdown-circle"></ion-icon>
    </div>
    <img *ngIf="noReserve" src="assets/imgs/noreserve.png">

    <ion-card *ngFor = "let trip of tripsReserves" >
        <ng-container *ngIf="trip.pendingUsers === 0">
            <h2>PRUEBA FUNCIONA</h2>
        </ng-container>
        <ng-container *ngIf="trip.isLate; else noLateBlock">
            <ion-item>
                <ion-avatar item-start>
                    <img class="animated infinite pulse" src="assets/imgs/stopwatch2.png">
                </ion-avatar>
               
                <div class="name">
                   
                    <div class="name">
                            <h2 class="text text-hot animated infinite pulse">                        
                                    Inicio de viaje: {{trip.startHour}}     
                           </h2>  
                                 

                    </div>
                   
                    <p>{{trip.car}}</p>
                </div>
                <div class="more">
                    <h2 class="text text-hot">                        
                     $ {{trip.price}}                          
                    </h2>
                   
                </div>
            </ion-item>
            <ion-card-content >
                <div  class="ride-detail">
                    <p>
                        <span class="icon-location bg-hot"></span>{{trip.origin}}</p>
                    <p>
                        <span class="icon-location bg-yellow"></span>{{trip.destination}}</p>
                </div>
                <ion-row class="center-align">  
                        <ion-col col-2 class="detail-text text-theme">
                            </ion-col>
                            <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                    <button class="btn bg-hot rounded full text-white"  (click)="seePassengers(trip.keyTrip)">DETALLES</button>
                                </ion-col>
                              
                            <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                <button  class="btn bg-theme rounded full text-white" (click)="startTrip(trip.keyTrip,trip)">
                                     INICIAR VIAJE
                                </button>
                             </ion-col>
                            
                            <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                </ion-col>
                            
                </ion-row>
            </ion-card-content>
        </ng-container>
        <ng-template #noLateBlock>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/userPicture.png">
                </ion-avatar>
                <div class="name">
                    <h2>Inicio de viaje: {{trip.startHour}}            
                    </h2>
                </div>
                <div class="more">                              
                                <h2 class="text text-theme">                        
                                    $ {{trip.price}}                          
                                </h2>                       
                         
                </div>
            </ion-item>
            <ion-card-content>
                <div class="ride-detail">
                    <p  >
                        <span class="icon-location bg-theme"></span>{{trip.origin}}</p>
                    <p > 
                        <span class="icon-location bg-yellow"></span>{{trip.destination}}</p>
                </div>
                <ion-row class="center-align">
                    <!-- <ion-col col-3 class="detail-text text-theme">
                        3 seats
                    </ion-col> -->
                    <ion-col col-2 class="detail-text text-theme">
                    </ion-col>
                    
                    <ion-col center text-center col-4 text-right style="margin-left: auto;">
                        <button class="btn bg-darkblue rounded full text-white" (click)="seePassengers(trip.keyTrip)">DETALLES</button>
                    </ion-col>
                    <ion-col center text-center col-4 text-right style="margin-left: auto;">
                        <button class="btn bg-theme rounded full text-white" (click)="startTrip(trip.keyTrip,trip)">INICIAR VIAJE</button>
                     </ion-col>
                    <ion-col center text-center col-4 text-right style="margin-left: auto;">
                        </ion-col>
                </ion-row>
            </ion-card-content>
        </ng-template>
              
               
        
        
    </ion-card>

</ion-content>
