<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904521954579-hs58u2hk7btnsu3o7468a0g5mb11lv7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904521954579-hs58u2hk7btnsu3o7468a0g5mb11lv7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDYNJmss3_FGHgMCPviAc9nZYNu-L8LeYY</string>
	<key>GCM_SENDER_ID</key>
	<string>904521954579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waypoolsas.waypoolcars2</string>
	<key>PROJECT_ID</key>
	<string>waypool-511be</string>
	<key>STORAGE_BUCKET</key>
	<string>waypool-511be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904521954579:ios:ee0634e12a417bdf</string>
	<key>DATABASE_URL</key>
	<string>https://waypool-511be.firebaseio.com</string>
</dict>
</plist>