<ion-header class="bg-theme">
    <ion-navbar>
        <ion-title class="Title">DRIVER
                <ion-icon name="help-circle-outline" class="text-white" (click)="help() " style="margin-left: auto;float: right;"></ion-icon> 

        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="bg-light" class="hideLongText">
    <ion-row class="center-align bg-white flow-ride">
        <ion-col *ngFor = "let origin of locationOrigin"  class="hideLongText" col-5>
            <h2>Origen:</h2> {{origin}}

        </ion-col>
        <ion-col col-2 text-center>
            <img src="assets/imgs/arrow.jpg">
        </ion-col>
        <ion-col *ngFor = "let destination of locationDestination" class="hideLongText" col-5>
            <h2>Destino:</h2> {{destination}}
        </ion-col>

    </ion-row>
    
    <ion-card *ngFor = "let user of usersOnListRide">
        
                <ion-item>
                        <ion-avatar item-start>
                            <img src="assets/imgs/face-1.jpg">
                        </ion-avatar>
                        <div class="name">
                            <h2>{{user.name |titlecase}} {{user.lastname |titlecase | slice:0:1}}.
            
                                <ion-icon name="ios-checkmark-circle" class="text-theme"></ion-icon>
                            </h2>
                            <p>Honda Cvic | White</p>
                        </div>
                        <div class="more">
                            <ion-icon name="close-circle" (click)="deleteUser(user.userId,user.name)"></ion-icon>
                        </div>
                    </ion-item>
                    <ion-card-content>
                        <div class="ride-detail">
                            <p  >
                                <span class="icon-location bg-theme"></span>{{user.origin}}</p>
                            <p > 
                                <span class="icon-location bg-yellow"></span>{{user.destination}}</p>
                        </div>
                        <ion-row class="center-align">
                            <!-- <ion-col col-3 class="detail-text text-theme">
                                3 seats
                            </ion-col> -->
                            <ion-col col-2 class="detail-text text-theme">
                            </ion-col>
                            <ion-col col-4 class="detail-text text-theme">
                            
                            </ion-col>
                            <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                <button class="btn bg-theme rounded full text-white" (click)=confirmpopup(user)>Request Ride</button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
               
        
        
    </ion-card>

</ion-content>