<ion-header class="bg-theme title">
    <ion-navbar >
        <ion-title >Tus compañeros
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content  style="background-color: rgba(255, 255, 255, 0.959);">
    <div #map id="map"></div>  
    <button (click)="cancelReserve()" style="width: 60%; display: flex; justify-content: center;"> Cancelar Reserva </button>
         <ion-card *ngFor = "let passenger of passengers">
               <ion-item>
                   <ion-avatar item-start>
                    <img  style="height:70px; width: 70px;" src="assets/imgs/carBlue.png">
                </ion-avatar>
                   <div class="name">
                       <h2>{{passenger.name |titlecase}} {{passenger.lastname | slice:0:1 | titlecase}}.
                         <ion-icon *ngIf='passenger.verifiedPerson' name="ios-checkmark-circle" class="text-darkblue"></ion-icon>
         
                       </h2>
                       <p>{{passenger.company}}</p>
                    </div>
                   <div class="more" item-end>
                           <ion-icon name="md-more"  (click)="presentActionSheet(passenger.userId,passenger.name)"></ion-icon>
                   </div>
               </ion-item>
               <ion-card-content>
                   <div class="ride-detail">
                       <p><small></small>
                           <span class="icon-location bg-theme"></span>{{passenger.origin}}</p>
                       <p><small></small>
                           <span class="icon-location bg-yellow"></span>{{passenger.destination}}</p>
                   </div>
                   
               </ion-card-content>         
         
               
           </ion-card>
         
 </ion-content>

 