<ion-header class="bg-theme">
    <ion-navbar>
        <ion-title><span class="text-white">COMPARTE TU VIAJE</span>
            <ion-icon name="help-circle-outline" class="text-white" (click)="help() " style="margin-left: auto;float: right;"></ion-icon> 
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content  padding>
    
    <ion-card class="search">
          
        <ion-card-content>
            <span class="dot bg-theme"></span>
            <ion-searchbar required [(ngModel)]="autocompleteMyPos.input" [animated]=true (ionInput)="updateSearchResultsMyPos()"  placeholder="Tu origen"></ion-searchbar>
          
            <ion-list   [hidden]="autocompleteItems.length == 0">
                <ion-item  *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResultMyPos(item)">
                  {{ item.description }}
                </ion-item>
              </ion-list>
              <!-- <ion-icon name="md-locate" (click)="getPositionAndMarker()" class="text-black"></ion-icon> -->
        </ion-card-content>
        <ion-card-content>
            <span class="dot bg-yellow"></span>           
           <ion-searchbar required [(ngModel)]="autocompleteMyDest.input" (ionInput)="updateSearchResultsMyDest()" placeholder="Tu destino"></ion-searchbar>


            <ion-list   [hidden]="autocompleteItems2.length == 0">
            <ion-item class="item" *ngFor="let item of autocompleteItems2" tappable (click)="selectSearchResultMyDest(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
            <!-- <span class="text-light search-text">Office &nbsp;<ion-icon name="ios-arrow-down" class="text-light"></ion-icon></span> -->

        </ion-card-content>
        
    </ion-card>


 <div #map id="map"></div>  
    <div></div>
 <button (click)="listride()" class="btn rounded bg-theme text-white" style="width: 100%">¡Conéctate!</button>
 <!-- test -->
 <button (click)="availableReserves()" class="btn rounded bg-theme text-white reserve" style="width: 100%">mis reservas</button>
 
</ion-content>

